.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.users,
.row {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  width: 100%;
}

.row {
  grid-template-columns: 1fr 9px 1fr 9px 1fr;

  background-color: var(--background-info);
  border-radius: 4px;
  padding: 14px 24px;
  gap: 0;
}

.hr {
  margin: 4px 0;
  height: 13px;
  width: 1px;
  background-color: #141a21;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

@media screen and (max-width: 620px) {
  .row {
    padding: 14px 12px;
  }
}

@media screen and (max-width: 420px) {
  .users {
    grid-template-columns: unset;
  }
}
