.selectContainer {
  position: relative;
  min-width: 170px;
  color: var(--color-gray);
  font-weight: 500;
  line-height: 150%;
}

.selectHeader {
  box-shadow: inset 0 0 0 1px var(--background-card);

  width: 100%;
  padding: 16px 20px 16px 16px;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--background-card);
  color: var(--color-gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  transition: all 0.3s ease-in-out;
  border: none;
  font-weight: 500;
  line-height: 150%;
}

.selectHeader svg {
  transition: all 0.1s ease-in-out;
}

.selectOption:disabled {
  color: var(--select-option-disabled-color);
}

.selectHeader.open svg {
  transform: rotate(180deg);
}

.selectDropdown {
  padding: 6px 0;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  top: calc(100% + 8px);
  background-color: var(--background-message);
  box-shadow: 0 2px 4px 0 rgba(13, 16, 19, 0.35);
  z-index: 100;
  border-radius: 4px;
  /* max-height: 204px;
    overflow-y: auto; */
}

.selectOption {
  padding: 12px;
  cursor: pointer;
  background: transparent;
  border: none;
  width: 100%;
  display: flex;
  font-weight: 500;
  line-height: 150%;
  color: var(--color-gray);
}

@media screen and (hover: hover) {
  .selectHeader:hover {
    background-color: var(--background-message);
    color: var(--color-primary);
    box-shadow: inset 0 0 0 1px var(--background-message);
  }
  .selectHeader:hover svg path {
    fill: var(--color-primary);
  }
  .selectOption:not(:disabled):hover {
    background-color: var(--select-option-hover);
    color: var(--color-primary);
  }
}

.selectHeader:active {
  background-color: var(--background-card);
  box-shadow: inset 0 0 0 1px var(--select-pressed-border);
  color: var(--color-primary);
}

.selectHeader:active svg path {
  fill: var(--color-primary);
}

.selectOption:active {
  color: var(--color-primary);
  background-color: var(--select-option-pressed) !important;
}
