.badge {
  display: flex;
  align-items: center;
  gap: 14px;
}

.image {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}

.name {
  font-weight: 600;
}

@media screen and (max-width: 620px) {
  .image {
    width: 28px;
    height: 28px;
  }
  .badge {
    gap: 6px;
  }

  .name {
    font-size: 14px;
  }
}
