.top {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controls {
  display: flex;
  align-items: center;
  gap: 12px;
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.screen {
  padding-top: 42px;
}
